#wrap {
    position:relative;
}

#wrap div {
    height: 200px;
    max-height: 100%;
    margin:10px;
    display: block;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 8px 16px rgb(0, 0, 0);
 }
 
#wrap div img {
    height:200px;
    border-radius: 2%;
}

#wrap div p {
    min-height:200px;
    min-width: 70%;
    color: azure;
    background-color: #414288;
    border-style:solid;
    padding: 2%;
    border-radius: 5px 5px 5px 5px;
    text-align: left;
}

 #wrap div:nth-child(even) {
    clear:right;
    border-bottom: solid;
 }
 
 #wrap div:nth-child(odd) {
    float:left;
    clear:left;
 }

hr.solid {
    border-top: 3px solid #bbb;
  }
