.pickPop {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .pickPopForm {
    max-height: 75%;
    display: flex;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    width: 75%;
    height: 75%;
    background-color:floralwhite;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .pickPopForm figure figcaption {
    margin-top: 40px;
}

  .pickPopForm figure img {
    max-height: 70%;
    padding: 5%;
    width: 100%;
    height: 400px;
  }

  .pickPopForm figure img:hover {
    cursor:pointer;
  }

  .pickPopForm h1 {
    position: absolute;
  }
